section {
    padding: 20px;
    margin: 20px;
}

body {
    /* Old browsers */
    background: #141E30;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(-45deg, #35577D, #141E30);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(-90deg, #35577D, #141E30);
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.grid-container {
    display: grid;
}

.main-banner {
    background-image: url("");
    background-size: cover;
    background-position: top center;
    height: 200px;
    border: white solid 3px;
}

.top-nav {
    border: white solid 3px;
    height: 50px;
    width: 100%;
    font-weight: bold;
    margin: 200px;
}

.article {
    background-color: lightgray;
    color: #FFF3BC;
    font-size: x-small;
}

h1 {
    font-family: Georgia;
    color: #FFF;
    font-size: 2em;
    padding-top: 100px;
    width: 100%;
    text-align: center;
}

.table {
    background-color: lightgray;
    color: darkslategray;
    font-weight: bold;
    font-size: x-large;
}

.byline {
    font-family: Helvetica;
    color: rgba(255, 255, 255, 0.5);
    float: left;
    font-size: 14px;
    padding: 30px 0px;
    text-transform: uppercase;
}

.done {
    background-color: green;
}

.sidenav {
    display: inline-block;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0px;
    height: 600px;
    width: 300px;
    margin: 0px 0px 0px 100%;
    border: white solid 3px;
    text-align: center;
}

.main-content {
    color: white;
    border: white solid 3px;
    font-family: Georgia;
    padding: 30px 30px 30px 30px;
    margin: 0px 300px 0px 0px;
}

.writer-img {
    -webkit-box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
    -moz-box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
    box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
    float: left;
    width: 50px;
    margin: 30px 30px;
}

.overlay {
    opacity: 0.5;
}